{% extends 'base.html' %}
{% load static %}

{% block css %}
<!-- CSS OVERRIDE -->
<style>

			/* MAKE BANNER FULL SCREEN */
			#banner.major {
    height: 100vh;
}

	/* ABOUT SECTION COLOR OVERLAY */
	.tiles article:nth-child(6n - 5):before {
    background-color: #9B111E;
}

	/* WORKSHOP SECTION COLOR OVERLAY */
.tiles article:nth-child(6n - 4):before {
    background-color: #7B9344;
}

	/* CALENDAR SECTION COLOR OVERLAY */
.tiles article:nth-child(6n - 3):before {
	background-color: #0f52ba;
	}

	/* MULTIMEDIA SECTION COLOR OVERLAY */
	.tiles article:nth-child(6n - 2):before {
	background-color: #aac4c4;
	}


</style>

{% endblock %}


{% block content %}
<!-- Banner -->
<section id="banner" class="major">

    <div class="inner">

        <center>
            <img src="{% static 'prsm-site/images/white-logo.png' %}" width="20%" height="20%">
            <header class="major">


                <h1>PRSM</h1>

                <h4>Strong Community.
                    Stronger Individuals.</h4>
                <a href="#one" class="button next scrolly">Welcome</a>

            </header>
            <div align="center" class="content">


            </div>
        </center>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one" class="tiles">
        <article>
									<span class="image">
										<img src="{% static 'prsm-site/images/about-section-photo.jpg' %}" alt=""/>
									</span>
            <header class="major">
                <h3><a href="/about" class="link">About PRSM</a></h3>
                <p>What is PRSM?</p>
            </header>
        </article>
        <article>
									<span class="image">
										<img src="{% static 'prsm-site/images/prsm-black-cover-photo.jpg' %}" alt=""/>
									</span>
            <header class="major">
                <h3><a href="/workshops" class="link">Workshops</a></h3>
                <p>Learn, Move, Grow</p>
            </header>
        </article>
        <article>
									<span class="image">
										<img src="{% static 'prsm-site/images/calendar-section-photo.jpg' %}" alt=""/>
									</span>
            <header class="major">
                <h3><a href="/calendar" class="link">Calendar</a></h3>
                <p>Events in the Dance Community</p>
            </header>
        </article>
        <article>
									<span class="image">
										<img src="{% static 'prsm-site/images/multimedia-section-photo.jpg' %}" alt=""/>
									</span>
            <header class="major">
                <h3><a href="/multimedia" class="link">Multimedia</a></h3>
                <p>Snapshots n' clips</p>
            </header>
        </article>


        <!--disabling sections for future expansion

        <article>
            <span class="image">
                <img src="{% static 'prsm-site/images/pic06.jpg' %}" alt="" />
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Etiam</a></h3>
                <p>Feugiat amet tempus</p>
            </header>
        </article>
        -->
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Contact Us</h2>
            </header>
            <p>Follow us @PRSMDance on social media and subscribe to the PRSM YouTube channel for all video content!</p>
            <!--
            <ul class="actions">
                <li><a href="landing.html" class="button next">Get Started</a></li>
            </ul>
            -->
        </div>
    </section>

</div>

<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section>
            <form method="post" action="https://formspree.io/prsmdance@gmail.com">
                {% csrf_token %}
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name"/>
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email"/>
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary"/></li>
                    <li><input type="reset" value="Clear"/></li>
                </ul>
            </form>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="mailto:prsmdance@gmail.com">prsmdance@gmail.com</a>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-phone"></span>
                    <h3>Phone</h3>
                    <span><a href="tel:919-590-9306">919-590-9306</a></span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-home"></span>
                    <h3>Workshop Address</h3>
                    <span>
											UNC SRC<br/>
											208 South Road<br/>
										Chapel Hill, NC 27599<br/>
										</span>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.542564653674!2d-79.04967739919991!3d35.909217474944604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89acc2ebdf6a2a5d%3A0x7649c17acafabe26!2sStudent+Recreation+Centre%2C+Chapel+Hill%2C+NC+27514!5e0!3m2!1sen!2sus!4v1529185450683"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </section>
        </section>
    </div>
</section>

{% endblock %}
