{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner" class="style2">
    <div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt=""/>
							</span>
        <header class="major">
            <h1>Multimedia</h1>
        </header>
        <div class="content">

        </div>
    </div>
</section>

<!-- Main -->
<div id="main">


    <!-- Two -->
    <section id="two" class="spotlights">
        <section>

            <img id="section-photo" src="{% static 'prsm-site/images/multimedia-video-section-01.png' %}" alt=""
                 data-position="center center"/>

            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Video</h3>
                    </header>
                    <p>Workshop Footage, Teacher Bios, PRSM Black Showcase, and More!</p>
                    <ul class="actions">
                        <li><a href="https://www.youtube.com/channel/UC3YC77cRfZDnfBxulzKLTrg" class="button">PRSM
                            YouTube</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>

            <img id="section-photo" src="{% static 'prsm-site/images/multimedia-photos-section-01.png' %}" alt=""
                 data-position="top center"/>

            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Photo</h3>
                    </header>
                    <p>Group Photos, Merchandise Shoots, Memories, and More!</p>
                    <ul class="actions">
                        <li><a href="#" class="button">Gallery Coming Soon</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>

            <img id="section-photo" src="{% static 'prsm-site/images/multimedia-other-section-01.png' %}" alt=""
                 data-position="25% 25%"/>

            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Other</h3>
                    </header>
                    <p>The place for non-video and non-photo</p>
                    <ul class="actions">
                        <li><a href="#" class="button">Other Coming Soon</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

    {% endblock %}


